<a href="https://colab.research.google.com/github/PlaZMaD/climate/blob/main/simple_python_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let's begin

In [ ]:
print('Hi!')

In [ ]:
a = 1.
dsfds_123 = 0.66

In [ ]:
print()

In [ ]:
b = 2.
c = 3.
print(c * b)
print(c / b)
print( 8 // 3)
print(8 % 3)
print(3**3)

In [ ]:
d = """ "Hi there" """
print(d)

In [ ]:
g ='CO2'
f = f"thi is {c}"
e = "This id {c}".format(c="FCH4")
print(f, e)

In [ ]:
list_a = [5, 6, 7]
list_a.append(1)
list_a.append(2)
print(list_a)
print(list_a[-1])

list_b = [print(k**2) for k in range(10)]
print(list_b)

In [ ]:
dict_a = {f"{i}": i**2 for i in range(5)}
dict_a['1'] = 1
dict_a['2'] = 2
print(dict_a)

In [ ]:
a = 6
if a > 3:
  print("a >3")
else:
  print("a<=3")

In [ ]:
for i in list_a:
  print(i)
  print(i**2)

In [ ]:
def myFunc(x):
  print(x**3)
  return x**4

l = myFunc(5)
print(l)

In [ ]:
list_c = [i for i in range(10)]
print(list_c[:6:2])

In [ ]:
import numpy as np

In [ ]:
a = np.array([i for i in range(5)])
b = np.array([5, 4, 3, 2, 1])

print(a)
# print(b)

print(a * b)

In [ ]:
%%time
# ^-- this "magic" measures and prints cell computation time

# Option I: pure python
arr_1 = range(1000000)
arr_2 = range(99,1000099)


a_sum = []
a_prod = []
sqrt_a1 = []
for i in range(len(arr_1)):
    a_sum.append(arr_1[i]+arr_2[i])
    a_prod.append(arr_1[i]*arr_2[i])
    a_sum.append(arr_1[i]**0.5)

arr_1_sum = sum(arr_1)

In [ ]:
%%time

# Option II: start from python, convert to numpy
arr_1 = range(1000000)
arr_2 = range(99,1000099)

arr_1, arr_2 = np.array(arr_1) , np.array(arr_2)


a_sum = arr_1 + arr_2
a_prod = arr_1 * arr_2
sqrt_a1 = arr_1 ** .5
arr_1_sum = arr_1.sum()

In [ ]:
%%time

# Option III: pure numpy
arr_1 = np.arange(1000000)
arr_2 = np.arange(99,1000099)

a_sum = arr_1 + arr_2
a_prod = arr_1 * arr_2
sqrt_a1 = arr_1 ** .5
arr_1_sum = arr_1.sum()

In [ ]:
!wget https://raw.githubusercontent.com/HSE-LAMBDA/MLDM-2022/main/01-intro/tabular-playground-series-aug-2022.zip
!unzip tabular-playground-series-aug-2022.zip -d data

In [ ]:
import pandas as pd

In [ ]:
!ls -la

In [ ]:
data = pd.read_csv('data/train.csv', index_col='id')
data.index += 1

In [ ]:
print(data.head())

In [ ]:
print(data.loc[1:5, ['product_code', 'failure']])
print(data.query("2.1 * measurement_9 > measurement_10 and loading < 11"))

In [ ]:
print(data['loading'].median())

In [ ]:
print(data['loading'].isna().sum())
print(np.nan_to_num(data['loading'].values).mean())

In [ ]:
!wget https://raw.githubusercontent.com/plazmad/Climate/main/train_example.xlsx

In [ ]:
climate_data = pd.read_excel("train_example.xlsx", sheet_name=None)

In [ ]:
climate_data_new = pd.concat([item for _, item in climate_data.items()], ignore_index=True)

In [ ]:
print(climate_data['TIMESTAMP_START'])

# data['datetime'] = pd.to_datetime(data['myDateTime'], format='%d.%m.%Y %H:%M:%S')
# data.index = pd.DatetimeIndex(data['datetime'])

In [ ]:
tmp_data = climate_data.query("TIMESTAMP_START.dt.hour in [2, 3, 4, 5]")

In [ ]:
print(tmp_data.head())

In [ ]:
import matplotlib.pylab as plt
import plotly.graph_objs as go

In [ ]:
plt.hist(climate_data['CH4'], bins='auto', color='tab:olive', label="CH$_4$", density=True, rwidth=.7)
plt.hist(climate_data['CO2'], bins='auto', color='#2ca02c', label="CO2", density=True)
plt.title('CH$_4$')
plt.ylabel('counts')
plt.legend()
plt.show()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Histogram(x=climate_data['CH4'], histnorm='probability', name="CH4"))
fig.add_trace(go.Histogram(x=climate_data['CO2'], histnorm='probability', name=r"$\text{CO}_2$"))
fig.update_layout( paper_bgcolor='rgba(0,0,0,0)', plot_bgcolor='rgba(0,0,0,0)')
fig.show()

In [ ]:
plot_data_m = climate_data.query('TIMESTAMP_START > "01.01.2017 00:00:00"')
mList = [7, 8]
mHours = [i for i in range(10, 18)]
plot_data = plot_data_m.query('TIMESTAMP_START.dt.month in @mList and TIMESTAMP_START.dt.hour not in @mHours')
plt.hist(plot_data['TA'], bins='auto', label="Night", density=True, alpha=0.3)

plot_data = plot_data_m.query('TIMESTAMP_START.dt.month in @mList and TIMESTAMP_START.dt.hour in @mHours')
plt.hist(plot_data['TA'], bins='auto', label="Day", density=True, alpha=0.3)

plt.legend()
plt.show()
# np.linspace(0, 10, 40)

In [ ]:
plot_data_m = climate_data.query('TIMESTAMP_START > "01.01.2017 00:00:00"')
mList = [7,8]
mHour = [i for i in range(10, 16)]

fig = go.Figure()


plot_data = plot_data_m.query('TIMESTAMP_START.dt.month in @mList and TIMESTAMP_START.dt.hour not in @mHour')
fig.add_trace(go.Histogram(x=plot_data['TA'], histnorm='probability', name='NIGHT'))

plot_data = plot_data_m.query('TIMESTAMP_START.dt.month in @mList and TIMESTAMP_START.dt.hour  in @mHour')
fig.add_trace(go.Histogram(x=plot_data['TA'], histnorm='probability', name='DAY'))

fig.update_layout(barmode="overlay")
fig.update_traces(opacity=0.7)


fig.update_layout(title_text='Day and night Temp')
fig.update_xaxes(title_text="Temperature")
fig.show()

In [ ]:
def plot_nice_year_hist(df, to_plot, time_col):

  plot_data = df[to_plot]
  np_data = plot_data.to_numpy()
  out_data = len(np_data)%48
  np_data = np_data[:-out_data]
  plt.figure(figsize=(36, 20))
  plt.imshow(np_data.reshape(-1, 24*2).T)
  plt.show()

In [ ]:
plot_nice_year_hist (climate_data.query("TIMESTAMP_START.dt.year>=2017"), 'TA', 'TIMESTAMP_START')

In [ ]:
plot_nice_year_hist (climate_data.query("TIMESTAMP_START.dt.year>=2017"), 'FCH4', 'TIMESTAMP_START')

In [ ]:
def plot_nice_year_hist_plotly(df, to_plot, time_col):
    plot_data = df[to_plot]

    fig = go.Figure()
    fig.add_trace(go.Heatmap(x=df[time_col].dt.date, y=df[time_col].dt.hour, z=df[to_plot]))
    fig.show()

In [ ]:
plot_nice_year_hist_plotly (climate_data.query("TIMESTAMP_START.dt.year>=2017"), 'FCH4', 'TIMESTAMP_START')

In [ ]:
plot_nice_year_hist_plotly (climate_data.query("TIMESTAMP_START >= '01.01.2017 00:00:00'"), 'NETRAD', 'TIMESTAMP_START')